<appc-simple-notifications [options]="notificationOptions"></appc-simple-notifications>

<header class="header">
    <nav class="inner">
        <a routerLink="">
            <img class="logo" src="/assets/android-chrome-192x192.png" alt="logo">
        </a>
        <a routerLinkActive="active" routerLink="">{{'app_nav_home' | translate}}</a>
        <a routerLinkActive="active" routerLink="profile" *ngIf="isLoggedIn">{{user?.name}}</a>
        <a (click)="logout()" href="javascript:void(null);" *ngIf="isLoggedIn"> {{'app_nav_logout' | translate}} </a>
        <a routerLinkActive="active" routerLink="chat" *ngIf="!isLoggedIn">{{'app_nav_chat' | translate}}</a>
        <a routerLinkActive="active" routerLink="register" *ngIf="!isLoggedIn">{{'app_nav_register' | translate}}</a>
        <a routerLinkActive="active" routerLink="login" *ngIf="!isLoggedIn">{{'app_nav_login' | translate}}</a>

        <form *ngFor="let c of cultures" action="/api/setlanguage" method="post" class="culture-form" ngNoForm [class.active]="c.current">
            <input id={{c.value}} name="culture" value={{c.value}} type="submit" />
        </form>

        <a class="github" href="{{'app_repo_url' | translate}}" target="_blank" rel="noopener">
            {{'app_title' | translate}}
        </a>
    </nav>
</header>