.card {
    // width: 150px;                 /* Set width of cards */
    display: flex;
    /* Children use Flexbox */
    flex-direction: column;
    /* Rotate Axis */
    border: 1px solid $color-quaternary;
    /* Set up Border */
    color: $color-font;
    /* Set up Border */
    border-radius: 4px;
    /* Slightly Curve edges */
    overflow: hidden;
    /* Fixes the corners */
    margin: 5px;
    /* Add space between cards */
}

.card-header {
    color: $color-font;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    background-color: $color-primary;
    padding: 5px 10px;
}

.card-body {
    display: flex;
    /* Children use Flexbox */
    color: $color-secondary;
    flex-direction: column;
    /* Rotate Axis to Vertical */
    justify-content: center;
    /* Group Children in Center */
    align-items: center;
    /* Group Children in Center (on cross axis) */
    padding: 15px 0;
    /* Add padding to the top/bottom */
}

.card-footer {
    color: $color-font;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    background-color: $color-secondary;
    padding: 5px 10px;
}
