@import 'Color';

header {
    .inner {
        a {
            &.active {
                font-weight: bold;
            }
        }
    }
}
.culture-form {
    display: inline;
    &.active > input[type="submit"]{
        text-decoration: underline;
    }
}
