<div class="col-lg-6">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <appc-page-heading text="Change password"></appc-page-heading>
        </div>

        <div class="ibox-content">
            <div *ngFor="let error of errors">
                <label class="error">{{error}}</label>
            </div>

            <form class="form-horizontal" #changePasswordForm="ngForm" (submit)="changePassword()" novalidate>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Old password</label>
                    <div class="col-lg-10">
                        <input ngControl="oldPassword" #oldPassword type="password" id="oldPassword" name="oldPassword" [class.error]="!oldPassword.valid" class="form-control input-lg" placeholder="Old password" />
                        <control-messages control="oldPassword"></control-messages>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">New password</label>
                    <div class="col-lg-10">
                        <input ngControl="newPassword" #newPassword type="password" id="newPassword" name="newPassword" [class.error]="!newPassword.valid" class="form-control input-lg" placeholder="New password" />
                        <control-messages control="newPassword"></control-messages>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Confirm password</label>
                    <div class="col-lg-10">
                        <input ngControl="confirmPassword" #confirmPassword type="password" id="confirmPassword" name="confirmPassword" [class.error]="!confirmPassword.valid" class="form-control input-lg" placeholder="Confirm password" />
                        <control-messages control="confirmPassword"></control-messages>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary pull-right" [disabled]="!changePasswordForm.valid">Change password</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
