<div class="col-lg-6">
    <appc-page-heading text="Change password"></appc-page-heading>

    <div *ngFor="let error of errors">
        <label class="error">{{error}}</label>
    </div>

    <form class="form-horizontal" [formGroup]="changePasswordForm" novalidate>
        <div class="form-group">
            <label>Old password</label>
            <input type="password" [class.error]="!changePasswordForm.controls.oldPassword.valid" class="form-control input-lg" placeholder="Old password"
                formControlName="oldPassword" />
            <span [hidden]="changePasswordForm.controls.oldPassword.valid || (changePasswordForm.controls.oldPassword.pristine && !submitted)"
                class="text-danger">
                    Old password is required
            </span>
        </div>
        <div class="form-group">
            <label>New password</label>
            <input type="password" [class.error]="!changePasswordForm.controls.newPassword.valid" class="form-control input-lg" placeholder="New password"
                formControlName="newPassword" />
            <span [hidden]="changePasswordForm.controls.newPassword.valid || (changePasswordForm.controls.newPassword.pristine && !submitted)"
                class="text-danger">
                    New password is required
            </span>
        </div>
        <div class="form-group">
            <label>Confirm password</label>
            <input type="password" [class.error]="!changePasswordForm.controls.confirmPassword.valid" class="form-control input-lg" placeholder="Confirm password"
                formControlName="confirmPassword" />
            <span [hidden]="changePasswordForm.controls.confirmPassword.valid || (changePasswordForm.controls.confirmPassword.pristine && !submitted)"
                class="text-danger">
                    Confirm password is required
            </span>
        </div>

        <button (click)="changePassword()" class="btn btn-primary pull-right">Change password</button>

    </form>
</div>