{{model | json}}


<div *ngIf="model?.is2faEnabled">

  <div *ngIf="model?.recoveryCodesLeft == 0">
    <div class="alert alert-danger">
      <strong>You have no recovery codes left.</strong>
      <p>You must
        <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
    </div>
  </div>
  <div *ngIf="model?.recoveryCodesLeft == 1">
    <div class="alert alert-danger">
      <strong>You have 1 recovery code left.</strong>
      <p>You can
        <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
    </div>
  </div>
  <div *ngIf="model?.recoveryCodesLeft <= 3">
    <div class="alert alert-warning">
      <strong>You have {{model?.recoveryCodesLeft}} recovery codes left.</strong>
      <p>You should
        <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
    </div>
  </div>

  <a asp-action="Disable2faWarning" class="btn btn-default">Disable 2FA</a>
  <a asp-action="GenerateRecoveryCodes" class="btn btn-default">Reset recovery codes</a>

</div>


<h5>Authenticator app</h5>

<button *ngIf="!model?.hasAuthenticator" (click)="enableAuthenticator = true" class="btn btn-default">Add authenticator app</button>

<div *ngIf="model?.hasAuthenticator || enableAuthenticator">
  <!-- <button asp-action="EnableAuthenticator" class="btn btn-default">Configure authenticator app</button> -->
  <!-- <button asp-action="ResetAuthenticatorWarning" class="btn btn-default">Reset authenticator key</button> -->

  <appc-enable-authenticator></appc-enable-authenticator>
</div>