<div class="alert alert-warning" *ngIf="!data">
  No data found
</div>

<table class="table" *ngIf="data">
  <thead>
    <tr>
      <th>
        <button *ngIf="!data.hideAdd" (click)="openModal({})" class="btn btn-sm btn-success">
          <i class="fa fa-plus"></i>
        </button>
      </th>
      <th *ngFor="let def of data.columnDefs">
        {{def.displayName || us.readableColumnName(def.field)}}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data.rows; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td *ngFor="let def of data.columnDefs; let j = index">
        <span *ngIf="!def.image">
          {{def.date ? (formatDate(row[def.field])) : (row[def.field]) }}
        </span>

        <!-- Custom secure image download component -->
        <appc-secure-image *ngIf="def.image" [height]="30" [width]="30" [imageUrl]="row[def.field]"></appc-secure-image>

      </td>
      <td>
        <div class="btn-group" role="group">
          <button (click)="delete(row)" class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i>
          </button>
          <button (click)="openModal(row)" class="btn btn-sm btn-success">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>