@using AspNetCoreSpa.STS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("LOCKED_OUT");
}
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@SharedLocalizer.GetLocalizedHtmlString("LOCKED_OUT_TEXT")</p>
</header>

