<div #f="ngForm" [formGroup]="form" [ngSwitch]="control.controlType" class="form-group {{control.class}}">
    <label [attr.for]="control.key" class="col-lg-2 control-label">{{control.label}}</label>

    <div class="col-lg-10">
        <input *ngSwitchCase="'textbox'" [formControlName]="control.key" [type]="control.type" [placeholder]="control.placeholder"
            [class.error]="!control.valid" [id]="control.key" class="form-control">

        <select *ngSwitchCase="'dropdown'" [id]="control.key" [formControlName]="control.key" class="form-control">
            <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <input #ck *ngSwitchCase="'checkbox'" (change)="control.value = ck.checked" [id]="control.key" [formControlName]="control.key"
            [type]="control.type" [class.error]="!control.valid">

        <control-error-message [form]="f" [control]="control.key"></control-error-message>

    </div>

</div>