<form class="{{formClass}}" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate role="form">
    <fieldset>
        <df-control *ngFor="let ctrl of controls" [control]="ctrl" [form]="form"></df-control>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary pull-right" [disabled]="!form.valid">{{btnText}}</button>
            </div>
        </div>
    </fieldset>
</form>
<div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
</div>