<appc-page-heading text="Change password"></appc-page-heading>

<form class="form-horizontal" [formGroup]="changePasswordForm">
    <div class="form-group">
        <label>Old password</label>
        <input type="password" [class.error]="!changePasswordForm.get('oldPassword').valid" class="form-control input-lg" placeholder="Old password"
            formControlName="oldPassword" />
        <span [hidden]="changePasswordForm.get('oldPassword').valid || (changePasswordForm.get('oldPassword').pristine && !submitted)"
            class="text-danger">
                    Old password is required
            </span>
    </div>
    <div class="form-group">
        <label>New password</label>
        <input type="password" [class.error]="!changePasswordForm.get('newPassword').valid" class="form-control input-lg" placeholder="New password"
            formControlName="newPassword" />
        <span [hidden]="changePasswordForm.get('newPassword').valid || (changePasswordForm.get('newPassword').pristine && !submitted)"
            class="text-danger">
                    New password is required
            </span>
    </div>
    <div class="form-group">
        <label>Confirm password</label>
        <input type="password" [class.error]="!changePasswordForm.get('confirmPassword').valid" class="form-control input-lg" placeholder="Confirm password"
            formControlName="confirmPassword" />
        <span [hidden]="changePasswordForm.get('confirmPassword').valid || (changePasswordForm.get('confirmPassword').pristine && !submitted)"
            class="text-danger">
                    Confirm password is required
            </span>
    </div>

    <button (click)="changePassword()" class="btn btn-primary pull-right">Change password</button>

</form>