<div class="row">
    <div class="column"></div>
    <div class="column">
        <ul class="sub-nav">
            <li>
                <a routerLinkActive="active" routerLink="userinfo">User info</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="updatepassword">Update password</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="userphoto">User photo</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="otheraccounts">Other accounts</a>
            </li>
        </ul>
    </div>
    <div class="column"></div>
</div>

<div class="row">
    <div class="column">
        <router-outlet></router-outlet>
    </div>
</div>