<button class="btn social-login-button google" (click)="loginGoogle()">
    <div layout="row" layout-align="center center">
        <span>
                    <i class="fa fa-google" aria-hidden="true"></i>
                    <span>Log in with Google</span>
        </span>
    </div>
</button>

<button class="btn social-login-button facebook" (click)="loginFacebook()">
    <div layout="row" layout-align="center center">
        <span>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <span>Log in with Facebook</span>
        </span>
    </div>
</button>

<button class="btn social-login-button microsoft" (click)="loginMicrosoft()">
    <div layout="row" layout-align="center center">
        <span>
                    <i class="fa fa-windows" aria-hidden="true"></i>
                    <span>Log in with Microsoft</span>
        </span>
    </div>
</button>

<button class="btn social-login-button twitter" (click)="loginTwitter()">
    <div layout="row" layout-align="center center">
        <span>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span>Log in with Twitter</span>
        </span>
    </div>
</button>

<button class="btn social-login-button github" (click)="loginGithub()">
    <div layout="row" layout-align="center center">
        <span>
                    <i class="fa fa-github" aria-hidden="true"></i>
                    <span>Log in with Github</span>
        </span>
    </div>
</button>

<button class="btn social-login-button linkedin" (click)="loginLinkedIn()">
    <div layout="row" layout-align="center center">
        <span>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <span>Log in with LinkedIn</span>
        </span>
    </div>
</button>