
<button class="social-login-button google" (click)="loginGoogle()">
    <div layout="row" layout-align="center center">
        <span>
                    <md-icon md-font-icon="icon-google-plus" class="s16"></md-icon>
                    <span>Log in with Google</span>
        </span>
    </div>
</button>

<button class="social-login-button facebook" (click)="loginFacebook()">
    <div layout="row" layout-align="center center">
        <span>
                    <md-icon md-font-icon="icon-facebook" class="s16"></md-icon>
                    <span>Log in with Facebook</span>
        </span>
    </div>
</button>

<button class="social-login-button microsoft" (click)="loginMicrosoft()">
    <div layout="row" layout-align="center center">
        <span>
                    <md-icon md-font-icon="icon-windows" class="s16"></md-icon>
                    <span>Log in with Microsoft</span>
        </span>
    </div>
</button>

<button class="social-login-button twitter" (click)="loginTwitter()">
    <div layout="row" layout-align="center center">
        <span>
                    <md-icon md-font-icon="icon-twitter" class="s16"></md-icon>
                    <span>Log in with Twitter</span>
        </span>
    </div>
</button>

<button class="social-login-button github" (click)="loginGithub()">
    <div layout="row" layout-align="center center">
        <span>
                    <md-icon md-font-icon="icon-github" class="s16"></md-icon>
                    <span>Log in with Github</span>
        </span>
    </div>
</button>

<button class="social-login-button linkedin" (click)="loginLinkedIn()">
    <div layout="row" layout-align="center center">
        <span>
                    <md-icon md-font-icon="icon-linkedin" class="s16"></md-icon>
                    <span>Log in with LinkedIn</span>
        </span>
    </div>
</button>