<div class="jumbotron">
  <h1 class="display-4">{{'app_title' | translate}}</h1>
  <p class="lead">
    {{'app_description' | translate}}
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{'app_repo_url' | translate}}" target="_blank" rel="noopener" role="button">More
      info</a>
  </p>
</div>

<div class="row justify-content-md-center">
  <h2 class="text-uppercase">Features</h2>
</div>

<hr>

<!-- Techs -->
<div class="row">
  <div class="col-sm-6">
    <img class="img-fluid float-left" src="/assets/images/aspnetcore.png" alt="Aspnetcore image" width="140" height="140">
    <h2>ASP.NET Core</h2>
    <p>ASP.NET is an open source web framework for building modern web apps and services with .NET. ASP.NET creates
      websites based on HTML5, CSS, and JavaScript that are simple, fast, and can scale to millions of users.
    </p>
    <p class="leat"><a class="btn btn-secondary" target="_black" rel="noopener" href="https://www.asp.net/" role="button">View details »</a></p>
  </div>
  <div class="col-sm-6">
    <img class="img-fluid float-left" src="/assets/images/angular.png" alt="Angular image" width="140" height="140">
    <h2>Angular</h2>
    <p>Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google
      and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built
      AngularJS.
    </p>
    <p class="leat"><a class="btn btn-secondary" target="_black" rel="noopener" href="https://angular.io/" role="button">View details »</a></p>
  </div>
</div>

<!-- Description -->
<!-- <div class="row">
  <div class="col-md-7">
    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
      semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <img class="img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165b5946ea5%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165b5946ea5%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
      data-holder-rendered="true" style="width: 500px; height: 500px;">
  </div>
</div> -->