<appc-simple-notifications [options]="notificationOptions"></appc-simple-notifications>

<header class="header">
    <nav class="inner">
        <a routerLink="">
            <img class="logo" src="/assets/android-chrome-192x192.png" alt="logo">
        </a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">{{'app_nav_home' | translate}}</a>
        <a routerLinkActive="active" routerLink="signalr">{{'app_nav_signalr' | translate}}</a>
        <a routerLinkActive="active" routerLink="profile" *ngIf="isLoggedIn">{{user?.name}}</a>
        <a (click)="logout()" href="javascript:void(null);" *ngIf="isLoggedIn"> {{'app_nav_logout' | translate}} </a>
        <a routerLinkActive="active" routerLink="register" *ngIf="!isLoggedIn">{{'app_nav_register' | translate}}</a>
        <a routerLinkActive="active" routerLink="login" *ngIf="!isLoggedIn">{{'app_nav_login' | translate}}</a>

        <form *ngFor="let c of cultures" action="/api/setlanguage" method="post" class="culture-form" ngNoForm [class.active]="c.current">
            <input id={{c.value}} name="culture" value={{c.value}} type="submit" />
        </form>

        <a class="github" href="{{'app_repo_url' | translate}}" target="_blank" rel="noopener">
            {{'app_title' | translate}}
        </a>
    </nav>
</header>

<!-- <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert" *ngIf="cookieConsent.showConsent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
                <span class="sr-only">Toggle cookie consent banner</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <p class="navbar-text">
                Use this space to summarize your privacy and cookie use policy.
            </p>
            <div class="navbar-right">
                <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
                <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">Accept</button>
            </div>
        </div>
    </div>
</nav> -->