<div class="card">
  <h3 class="card-header">Default stripe form</h3>
  <div class="card-block">
    <button (click)="openCheckout()">Purchase</button>
  </div>
</div>


<div class="card">
  <h3 class="card-header">Custom stripe implementation</h3>
  <div class="card-block">
    <h4 class="card-title">{{message}}</h4>

    <form id="payment-form" (submit)="getToken()">
      <div class="form-group">
        <label>Card Number</label>
        <input class="form-control" [(ngModel)]="cardNumber" name="card-number" type="text" size="20" data-stripe="number">
      </div>

      <div class="form-group">
        <label>
      <span>Expiration (MM/YY)</span>
      <input class="form-control" [(ngModel)]="expiryMonth" name="expiry-month" type="text" size="2" data-stripe="exp_month">
    </label>
        <span> / </span>
        <input class="form-control" [(ngModel)]="expiryYear" name="expiry-year" type="text" size="2" data-stripe="exp_year">
      </div>

      <div class="form-group">
        <label>
      <span>CVC</span>
      <input class="form-control" [(ngModel)]="cvc" name="cvc" type="text" size="4" data-stripe="cvc">
    </label>
      </div>

      <input type="submit" value="Submit Payment">
    </form>
  </div>

</div>


<form #form class="form-inline" name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="business" value="mmusale93@gmail.com">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="item_name" value="Paypal demo charge">
  <input name="item_number" type="hidden" value="0001" />
  <input type="text" class="form-control" size="30" id="paypalAmount" name="amount" />
  <input type="hidden" name="return" value="https://localhost:4200/" />
  <input type="hidden" name="cancel_return" value="https://localhost:4200/" />
  <input type="hidden" name="custom" value='Title'>
  <!--pass your notification URL-->
  <input name="notify_url" value="YOUR NOTIFICATION URL" type="hidden">
  <br/>
  <br/>
  <input (click)="form.submit()" type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit"
    alt="Make payments with PayPal - it's fast, free and secure!" />
</form>