
<div class="container">
     <div class="col-md-6 text-right">
        @await Html.PartialAsync("_SelectLanguagePartial")
    </div>

    <appc-root>
        @await Html.PartialAsync("_LoadingSpinnerPartial")
    </appc-root>

</div>

 <script>
        window.content = '@Html.Raw(ViewBag.content)';
</script>
<script src="~/dist/vendor.js" asp-append-version="true"></script> 

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script> 
}


@{

/*
    @foreach (var provider in await SignInManager.GetExternalAuthenticationSchemesAsync())
    {
         <strong>@provider.Name</strong><br>
    }

*/

}