<style>
    div.app-spinner {
        position: fixed;
        top: 50%;
        left: 50%;
    }
</style>

<div class="container">
    <appc-root> 
        <div class="app-spinner">
            <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
        </div>
    </appc-root> 
</div>

<script>
    window.user = '@ViewBag.user';
</script>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
