<style>
    div.app-spinner {
        position: fixed;
        top: 50%;
        left: 50%;
    }
</style>

<div class="container">
    <appc-root>
        <div class="app-spinner">
            <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
        </div>
    </appc-root>
</div>

<script>
    window.user = '@ViewBag.user';
</script>

<environment names="Development">
    <script src="~/dist/polyfills.dll.js" asp-append-version="true"></script>
    <script src="~/dist/vendor.dll.js" asp-append-version="true"></script>
</environment>

<script src="~/dist/@ViewBag.MainDotJs" asp-append-version="true"></script>