@{
    // Currently setup cultures
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = Helpers.JsonSerialize(LocOptions.Value.SupportedUICultures
        .Select(c => new { Value = c.Name, Text = c.DisplayName, Current = (c.Name == Thread.CurrentThread.CurrentCulture.Name) })
        .ToList());
    
    // Currently setup external logins
    var loginProviders = Helpers.JsonSerialize((await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList().Select(a => a.Name));
}

<div class="container">

    <appc-root>
        @await Html.PartialAsync("_LoadingSpinnerPartial")
    </appc-root>

</div>

 <script>
        var appData = {
            cultures: JSON.parse('@Html.Raw(cultureItems)'),
            content : JSON.parse('@Html.Raw(ViewBag.content)'),
            loginProviders: JSON.parse('@Html.Raw(loginProviders)')
        };
</script>
<script src="~/dist/vendor.js" asp-append-version="true"></script> 

@section scripts {
    <script src="~/js/qrcode.min.js" asp-append-version="true"></script> 
    <script src="~/dist/main-client.js" asp-append-version="true"></script> 
}


@{

/*
    @foreach (var provider in await SignInManager.GetExternalAuthenticationSchemesAsync())
    {
         <strong>@provider.Name</strong><br>
    }

*/

}