<style>
    div.app-spinner {
        position: fixed;
        top: 50%;
        left: 50%;
    }
</style>

<div class="container">
    <!-- <cache expires-after="@TimeSpan.FromMinutes(10)"> -->
        <!-- <appc-root asp-prerender-module="ClientApp/dist/main-server">  -->
        <appc-root> 
         <!-- <appc-root >  -->
            <div class="app-spinner">
                <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
            </div>
         </appc-root> 
    <!-- </cache> -->
</div>

<script>
    window.user = '@ViewBag.user';
</script>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}

@*<script src="~/dist/@ViewBag.MainDotJs" asp-append-version="true"></script>*@