<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <div class="collapse navbar-collapse justify-content-md-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="customers">Shop <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="customers">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="products">Products</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
