<div class="row justify-content-center">
  <figure class="figure">
    <img *ngIf="selectedImage?.url || existingImage" [src]="selectedImage?.url || existingImage" class="figure-img img-fluid rounded" style="width: 200px;height: 200px;">
    <figcaption class="figure-caption text-right">{{selectedImage?.name}}</figcaption>
  </figure>
</div>

<div class="row justify-content-center" *ngIf="!selectedImage">
  <label class="custom-file">
    <input type="file" id="file" class="custom-file-input" (change)="fileChange($event)">
    <span class="custom-file-control"></span>
  </label>
</div>

<div class="row justify-content-center">
  <div class="btn-group" *ngIf="selectedImage">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="upload()">Use this</button>
  </div>
</div>