<!-- <div class="consent-box" *ngIf="cookieConsent.showConsent">
    <p>
        Use this space to summarize your privacy and cookie use policy.
    </p>

    <a routerLink="privacy" class="button button-outline">Learn More</a>
    <button type="button" class="button" (click)="accept()">Accept</button>
</div> -->


<appc-modal [(visible)]="cookieConsent.showConsent" (visibleChange)="accept()">
    <h1>Cookie consent</h1>
    <p>
        Use this space to summarize your privacy and cookie use policy.
    </p>
    <a routerLink="" (click)="gotoPrivacy()" class="button button-outline">Learn More</a>&nbsp;
    <button type="button" class="button" (click)="accept()">Accept</button>
</appc-modal>