<appc-page-heading text="Animations"></appc-page-heading>

<ngb-tabset>
    <ngb-tab title="Basic Examples">
        <template ngbTabContent>
            <appc-animations-basic-examples></appc-animations-basic-examples>
        </template>
    </ngb-tab>
    <ngb-tab>
        <template ngbTabTitle><b>Repeating</b> items</template>
        <template ngbTabContent>
            <appc-animation-repeating-items></appc-animation-repeating-items>
        </template>
    </ngb-tab>
    <ngb-tab title="Disabled" [disabled]="true">
        <template ngbTabContent>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
                keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </template>
    </ngb-tab>
</ngb-tabset>