$primary-colour: #1B5E7F;
//$primary-colour: orange;
$primary-accent: #19526f;

$white-colour: #FFFFFF;
$grey-colour: #E2E2E2;
$text-colour: #757575;

$grey-box-shadow: 10px 10px 20px #F2F2F2;
$grey-box-border: 1px solid #DDDDDD;