<div class="modal-header">
    <h4 class="modal-title">
        {{ options.title }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="no()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div *ngIf="options.message" [innerHTML]="options.message"></div>

    <div *ngIf="options.template">
        <ng-container *ngTemplateOutlet="options.template;context:options.template.data"></ng-container>
    </div>

</div>

<div class="modal-footer" *ngIf="!options.template">
    <button type="button" class="btn btn-secondary" (click)="no()">No</button>
    <button type="button" class="btn btn-primary" (click)="yes()">Yes</button>
</div>