<appc-page-heading text="Animations"></appc-page-heading>

<div class="row">
    <div class="col-12 col-md-3 push-md-9">
        <div class="list-group">
            <a class="list-group-item" routerLinkActive="active" [routerLink]="['basicanimation']">Basic animations</a>
            <a class="list-group-item" routerLinkActive="active" [routerLink]="['repeatinganimations']">Repeating items</a>
        </div>
    </div>

    <div class="col-12 col-md-9 pull-md-3 bd-content">
        <router-outlet></router-outlet>
    </div>
</div>