@using AspNetCoreSpa.STS.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION");
}
<h2>@ViewData["Title"]</h2>
<p>
    @SharedLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION_TEXT");
</p>
