<div class="row justify-content-center">
    <div class="col-12 col-lg-8">

        <nav class="navbar navbar-expand navbar-light bg-faded">

            <div class="collapse navbar-collapse" id="navbarNav">
                <!--Left nav-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="userinfo">User info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="updatepassword">Update password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="userphoto">User photo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="otheraccounts">Other accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="twofactorauth">Two factor auth</a>
                    </li>
                </ul>
            </div>
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>