<!--tslint:disable-->
<div #f="ngForm" [formGroup]="form" [ngSwitch]="control.type" [class.has-danger]="invalid" [class.has-success]="valid" [class.form-check]="control.type === 'checkbox'">

    <label *ngSwitchCase="'dropdown'" [attr.for]="control.key">{{control.label}}</label>
    <select *ngSwitchCase="'dropdown'" [id]="control.key" [formControlName]="control.key" [class.is-valid]="valid" [class.is-invalid]="invalid">
        <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <!--This is not the switch case because of multiple control types-->
    <label *ngIf="control.type === 'text' || control.type === 'email' || control.type === 'password' || control.type === 'number'"
        [attr.for]="control.key">{{control.label}}</label>
    <input *ngIf="control.type === 'text' || control.type === 'email' || control.type === 'password' || control.type === 'number'"
        [id]="control.key" [formControlName]="control.key" [type]="control.type" [placeholder]="control.placeholder" [class.is-valid]="valid"
        [class.is-invalid]="invalid">

    <!--Textarea-->
    <label *ngIf="control.type === 'textarea'" [for]="control.key">{{control.label}}</label>
    <textarea *ngIf="control.type === 'textarea'" [id]="control.key" rows="3" [formControlName]="control.key" [class.is-valid]="valid"
        [class.is-invalid]="invalid"></textarea>

    <!--Checkbox-->
    <label *ngSwitchCase="'checkbox'" [attr.for]="control.key" class="custom-control custom-checkbox">
        <input #ck *ngSwitchCase="'checkbox'" (change)="control.value = ck.checked" [id]="control.key" [formControlName]="control.key"
            [type]="control.type" class="custom-control-input">
        <span>{{control.label}}</span>
    </label>

    <!--Checkbox list-->
    <div *ngIf="control.type === 'checkboxlist'">
        <div *ngFor="let item of control.options.options">
            <label>
                <input class="custom-control-input" type="checkbox" [id]="item.key" [value]="item.key" [checked]="f.value[control.key].indexOf(item.key)> -1"
                    (change)="control.updateCheckedOptions(item.key, $event, f)"> {{item.value}}
            </label>
        </div>
    </div>

    <div class="error" *ngIf="errorMessage(control)"> {{ errorMessage(control) }} </div>

</div>