<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="customers">Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="product-categories">Product categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="products">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="orders">Orders</a>
    </li>
</ul>

<router-outlet></router-outlet>