<div class="alert alert-danger">
  <h1>EXPERIMENTAL Feature: </h1>
  <p>Don't enable two factor auth for a user yet, it isn't fully working.</p>
</div>

<!-- {{model | json}} -->

<appc-recovery-codes [model]="model" *ngIf="model?.is2faEnabled"></appc-recovery-codes>

<h5>Authenticator app</h5>

<button *ngIf="!model?.hasAuthenticator" (click)="enableAuthenticator = true" class="btn btn-default">Add authenticator app</button>

<div *ngIf="model?.hasAuthenticator || enableAuthenticator">
  <appc-enable-authenticator></appc-enable-authenticator>
</div>