<div *ngIf="model?.recoveryCodesLeft === 0">
  <div class="alert alert-danger">
    <strong>You have no recovery codes left.</strong>
    <p>You must
      <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
  </div>
</div>
<div *ngIf="model?.recoveryCodesLeft === 1">
  <div class="alert alert-danger">
    <strong>You have 1 recovery code left.</strong>
    <p>You can
      <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
  </div>
</div>
<div *ngIf="model?.recoveryCodesLeft <= 3">
  <div class="alert alert-warning">
    <strong>You have {{model?.recoveryCodesLeft}} recovery codes left.</strong>
    <p>You should
      <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
  </div>
</div>

<button (click)="disableTwoFactorWarning()" class="btn btn-default">Disable 2FA</button>
<button (click)="generateRecoveryCodes()" class="btn btn-default">Reset recovery codes</button>