<appc-page-heading text="Change detection"></appc-page-heading>

<p>
    This example demonstrate that component with onPush only gets updated when a change occurs inside that component.
</p>

<p>
    However default behaviour is that each component changes happen with any change in application.
</p>

<div class="row">
    <div class="col-md-6">

        <appc-comment-section-1></appc-comment-section-1>
    </div>

    <div class="col-md-6">
        <appc-comment-section-2></appc-comment-section-2>
    </div>
</div>
<div class="row">
    <div style="margin: 15px;">
        <button (click)="count()">Increment Counter</button>
        <div><strong>{{counter}}</strong></div>
    </div>
</div>