<div>

    <div class="alert alert-info" role="alert">
        Click any pair of nodes to connect them with an edge
    </div>

    <appc-vertex [value]="'A'"></appc-vertex>

    <table class="graph-table">
        <tr>
            <td>
                <appc-vertex [value]="'B'"></appc-vertex>
                <td>
                    <appc-vertex [value]="'C'"></appc-vertex>
                </td>
                <tr>
                    <td>
                        <appc-vertex [value]="'E'"></appc-vertex>
                    </td>
                    <td>
                        <appc-vertex [value]="'F'"></appc-vertex>
                    </td>
                </tr>
                <tr>
                    <td>
                        <appc-vertex [value]="'G'"></appc-vertex>
                    </td>
                    <td>
                        <appc-vertex [value]="'H'"></appc-vertex>
                    </td>
                    <td>
                        <appc-vertex [value]="'I'"></appc-vertex>
                    </td>
                </tr>
    </table>
</div>