<div>

    <div class="alert alert-info" role="alert">
        Click any pair of nodes to connect them with an edge
    </div>

    <vertex [value]="'A'"></vertex>

    <table class="graph-table">
        <tr>
            <td>
                <vertex [value]="'B'"></vertex>
                <td>
                    <vertex [value]="'C'"></vertex>
                </td>
                <tr>
                    <td>
                        <vertex [value]="'E'"></vertex>
                    </td>
                    <td>
                        <vertex [value]="'F'"></vertex>
                    </td>
                </tr>
                <tr>
                    <td>
                        <vertex [value]="'G'"></vertex>
                    </td>
                    <td>
                        <vertex [value]="'H'"></vertex>
                    </td>
                    <td>
                        <vertex [value]="'I'"></vertex>
                    </td>
                </tr>
    </table>
</div>